# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
branca
dash
dash-core-components
dash-html-components
folium
pandas
plotly
plotly_express
json